{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/common.css'%}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Hello, pybo!</title>

    <script src="{% static 'bootstrap.min.js' %}"></script>
</head>
<body>

<div id="wrap">
    
    
    {% include 'navbar.html' %}
    
    
    <section id="contents">
        <!-- 기본 템플릿 안에 삽입될 내용 Start -->
        {% block content %}
        
        {% endblock %}
        <!-- 기본 템플릿 안에 삽입될 내용 End -->
    </section>
    {% include 'footer.html' %}
    
</div>
<!--// wrap -->


{% block script %}

{% endblock script %}



</body>
</html>
